<div class="example-container mat-elevation-z8">
    
  <mat-toolbar color="primary">
     <span class="example-spacer"></span>
    <span *ngIf="selectedMore">Update only one user at the time!</span>
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <!--<mat-icon class="example-icon" (click)="updateUser()" title="">update</mat-icon>-->
    <!--<mat-icon class="example-icon" (click)="deleteUser()">delete</mat-icon>-->
    <dialog-overview-example (onReceiveData)="refreshData($event)"></dialog-overview-example>
    </mat-toolbar-row>
</mat-toolbar>

  <mat-table #table [dataSource]="dataSource | orderBy" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="displayChart(row)"> {{row.name}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="online sales">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Online Sales </mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="displayChart(row)"> {{row.online_sales}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="store sales">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Store Sales </mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="displayChart(row)"> {{row.store_sales}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email order">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email Order </mat-header-cell>
      <mat-cell *matCellDef="let row" (click)="displayChart(row)"> {{row.mail_order}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef>Update</mat-header-cell>
      <mat-cell *matCellDef="let row"><mat-icon class="example-icon" (click)="updateUser(row)">update</mat-icon></mat-cell>
    </ng-container>

     <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let row"><mat-icon class="example-icon" (click)="deleteUser(row)">delete</mat-icon></mat-cell>
    </ng-container>
  

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"  style="cursor:pointer;"></mat-row>
     
     
  </mat-table>

  <mat-paginator #paginator
                [length]="data.length"
                [pageIndex]="0"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (selectChange)="changePage($event)"
                (page)="onPaginateChange($event)">
  </mat-paginator>
</div>
<app-chart *ngIf="dataChart" [userData]="dataChart"></app-chart>
